.article-createform-btns {
    display: flex;
    justify-content: flex-end;
}

.article-createform-header {
    display: flex;
}

.article-createform-upload {
    position: relative;
    width: 100%;
    min-width: 690px;
    height: 345px;
    text-align: center;
    
    .article-createform-input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 100%;
        min-width: 690px;
        height: 345px;
        cursor: pointer;
        
        input {
            width: 100%;
            height: 345px;
        }
    }

    img {
        display: inline-block;
        max-width: 690px;
        height: 345px;
    }
}


.ql-toolbar.ql-snow {
    border: none;
}

.ql-container.ql-snow {
    border: none;
    background-color: #fff;
}
.article-createform {
    height: 100%;

    .quill  {
        height: 100%;
    }
}