.article-createform-btns {
    display: flex;
    justify-content: flex-end;
}

.ql-toolbar.ql-snow {
    border: none;
}

.ql-container.ql-snow {
    border: none;
    background-color: #fff;
}
.article-createform {
    height: 100%;

    .quill  {
        height: 100%;
    }
}