.home-list-item-title {
    margin: -7px 0 4px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    color: #333;
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

.home-list-item-title:hover {
    text-decoration: underline;
}

.home-list-item-content {
    max-height: 96px;
    overflow: hidden;
    margin: 0 0 8px;
    font-size: 13px;
    line-height: 24px
}

.home-list-item-footer {
    display: flex;
    font-size: 12px;
    color: #b4b4b4;
    > div {
        padding-right: 10px;
    }
}

.home-list-item {
    margin: 0 0 17px;
    padding: 0 2px 17px 0;
    border-bottom: 1px solid #ececec;
    border-bottom: 1px solid #f0f0f0;
}